<h1>Adding relationship for <%= @person.first_name + " " + @person.last_name %></h1>

<%= form_with model: @relationship do |form| %>
<%= form.hidden_field :contact_id %>
<p>Who is the relationship with? <%= form.select(:related_contact_id, options_for_select(@potential_relationships)) %></p>
<p>Relationship Type <%= form.text_field :relationship_type %></p>
<%= form.submit "Create" %>
<% end%>
