<%= stylesheet_link_tag "application" %>
<h1>Contacts</h1>
<table border="0" cellspacing="10">
<thead>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Relationships in the Company</td>
</thead>
<% @company_contacts.each do |contact|%>
    <tr>
        <td>
            <%= contact.first_name %>
        </td>
        <td>
            <%= contact.last_name %>
        </td>
        <td>
        [<%= contact.company_contact_relationships.size%>] <br />
        <ul>
        <% contact.company_contact_relationships.each do |relationship|%>
          
            <li>  <%=relationship.relationship_type %> to <%= Contact.find_by_id(relationship.related_contact_id).first_name %></li>
            <% end %>
        </ul>
        <%=link_to("Add Relationship", "contact/add-relationship/" + contact.id.to_s)%>
        </td>
    <tr>
    <% end %>
</table>

