<h1>Contacts</h1>
<table>
<tdhead>
    <td>First Name</td>
    <td>Last Name</td>
</tdhead>
    <tr>
        <td>
            <%= @contact.first_name %>d
        </td>
        <td>
            <%= @contact.last_name %>
        </td>
        <td>
     
        </td>

    <tr>
</table>
