<h1>Companies</h1>
<p>Find me in app/views/companies/index.html.erb</p>
<table>
<% @companies.each do |company| %>
    <tr>
        <td><%= company.company_name %></td>
        <td><%= company.company_description %></td>
        <td><a href="/companies/<%=company.id.to_s%>/contacts/">View <%= company.contacts.size%> Contacts</a></td>
    </tr>
<% end %>

</table>